* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Header*/
body {
  position: relative;

  margin-left: auto;
  margin-right: auto;
}
header {
  background-color: aqua;
  margin-bottom: 90px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: bold;
}

.logo-img {
  background-color: #0b25b7d9;
}
.box-rose {
  position: absolute;
  width: 264px;
  height: 257px;
  left: 310px;
  top: -10px;
  margin-right: 100px;

  /* colar-60% */

  background: rgba(252, 109, 58, 0.6);
  opacity: 0.4;
  border-radius: 0px 0px 70px 0px;
  justify-content: flex-start;
}
nav {
  margin-top: 30px;
}
.main-container {
  max-width: 1400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
/*design the first part */
.first-conatiner-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  column-gap: 30px;
}
/*left container */
.left-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}
.left-101 {
  display: flex;
  flex-direction: column;

  row-gap: 10px;
}
.first-img {
  width: 300px;
  height: 380px;
  left: 0px;
  top: 0px;
  background: url(../images/box-1.png);
  border-radius: 70px 0px;
}
.text-left {
  width: 300px;
  height: 114.6px;
  left: calc(50% - 300px / 2 - 134.5px);
  bottom: 400.4px;
  background: #d9d9d9;

  border-radius: 0px 0px 80px 0px;
  text-align: center;
  background: rgba(215, 228, 242, 0.8);
}
.text-left > p {
  width: 234px;
  height: 76px;
  left: 33px;
  top: 418px;

  /* 32pt-H2-satoshi-bold */

  font-family: "Satoshi";
  font-style: normal;

  font-size: 20px;
  line-height: 25px;
  /* or 117% */

  display: flex;
  align-items: end;
  text-align: end;
  letter-spacing: -0.05em;

  color: #000000;
}
.second-img {
  width: 300px;
  height: 403px;
  left: 0px;
  top: 0px;
  background: url(/images/img-2.png);
  border-radius: 0px 70px 70px 0px;
}
.right-101 {
  display: flex;
  flex-direction: column;
}
.right-first-img {
  width: 258px;
  height: 350px;
  left: 310px;
  top: 2px;
  margin-bottom: 20px;
  background: url(../images/turtle-101.png);
  border-radius: 0px 70px 70px 0px;
}
.circle-img {
  background: url(../images/circle-img.png);
  width: 268px;
  height: 268px;
  left: 343px;
  top: -100px;
  border-radius: 50%;
  margin-bottom: 100px;
  margin-right: 30px;
}
.line-dotted {
  width: 206px;
  height: 0px;
  left: 134px;
  top: 239px;
  border: 1px dashed #000000;
  transform: rotate(90deg);
  margin-bottom: 80px;
  margin-left: 30px;
}
.text-turtles > p {
  width: 143px;
  height: 76px;
  left: 356px;
  top: 734px;
  margin-left: 80px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  /* or 171% */

  display: flex;
  align-items: end;
  text-align: end;
  letter-spacing: -0.05em;

  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*end left container */

/*start righ conatiner 101*/

.right-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.right-container > h2 {
  width: 705px;
  height: 189px;
  left: 716px;
  top: 329px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 100px;
  line-height: 88px;
  /* or 88% */

  display: flex;
  align-items: center;
  letter-spacing: -0.05em;

  color: #000000;
}
.right-container > h4 {
  width: 705px;
  height: 177px;
  left: 716px;
  top: 329px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  font-size: 50px;
  line-height: 88px;
  /* or 88% */

  display: flex;
  align-items: center;
  letter-spacing: -0.05em;

  color: #000000;
}
.right-container > p {
  width: 618px;
  height: 303px;
  left: 721px;
  top: 600px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 152.69%;
  /* or 37px */

  display: flex;
  align-items: center;
  letter-spacing: -0.05em;

  color: #000000;
}
.btn-shop-learn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.btn-shop-now > a {
  text-decoration: none;
  width: 245px;
  height: 63px;
  left: 778px;
  top: 1003px;
  color: white;
  background-repeat: no-repeat;
  background: #0b25b7;
  border-radius: 40px;
  text-align: center;
}
.btn-shop-now-text {
  width: 119px;
  height: 38px;
  left: 841px;
  top: 1015px;

  /* 24pt-heading-satoshi-bold */

  font-family: "Satoshi";
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 38px;
  /* identical to box height, or 156% */

  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.btn-learn-more > a {
  text-decoration: none;
  width: 245px;
  height: 63px;
  left: 778px;
  top: 1003px;
  border: 2px solid #0b25b7;
  background-repeat: no-repeat;
  border-radius: 40px;
  text-align: center;
}
.btn-learn-more-text {
  width: 119px;
  height: 38px;
  left: 841px;
  top: 1015px;
  text-decoration: none;
  /* 24pt-heading-satoshi-bold */

  font-family: "Satoshi";
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 38px;
  /* identical to box height, or 156% */

  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.02em;
  color: #0b25b7;
}
/* Start the second container */
.second-container-home {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 60px;
  margin-bottom: 40px;
}

.box-201 {
  font-family: "Roboto";
  font-style: normal;
  font-size: 20px;
  /* or 61px */

  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.05em;
  row-gap: 15px;
  color: #000000;
}
.box-201 > h1 {
  line-height: 1.4em;
}
.box-201 > p {
  line-height: 1.4em;
  width: 297px;
  margin-left: auto;
  margin-right: auto;
}
.box-202 {
  width: 322px;
  height: 430.98px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  background-color: aliceblue;
  border-radius: 70px 0px 0px 0px;
}
.img-gym-clothes {
  width: 322px;
  height: 353.7px;

  background: url(/images/Gym-set.png);
  background-repeat: no-repeat;
  border-radius: 70px 0px 0px 0px;
}
.title-button > a {
  text-decoration: none;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: "Satoshi";
  font-style: normal;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.img-2 {
  width: 322px;
  height: 353.7px;
  background: url(../images/Swimming\ suit.png.png);
  background-repeat: no-repeat;
  border-radius: 70px 0px 0px 0px;
}
.img-3 {
  width: 322px;
  height: 353.7px;
  background: url(../images/watch-1.png);
  background-repeat: no-repeat;
  border-radius: 70px 0px 0px 0px;
}
.box-203 {
  border: 1px solid black;
  width: 322px;
  height: 430.98px;
}
.box-204 {
  border: 1px solid black;
  width: 322px;
  height: 430.98px;
}
/* end Second container */

/* start Third Container */

.third-container-trending {
  /*  width: 1300px;
  height: 500px; */
  margin: 0 auto;
  /* margin-left: auto;
  margin-right: auto; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 1rem;
  margin-bottom: 90px;
}
.bikini {
  border-radius: 1rem;
  background-color: #0b25b7;
  background: rgba(217, 217, 217, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bikini h2 {
  margin-bottom: 0.5em;
}
.bikini p {
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
}
.yellow-btn {
  display: flex;
  justify-content: end;
}
.yellow-btn > a {
  text-decoration: none;

  padding: 20px;
  border-radius: 15%;
  background-color: #ffce00;
  color: #000000;
  font-weight: 900;
  font-size: larger;
  font-style: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.color-box {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}
.colors-right-1 {
  width: 28px;
  height: 28px;
  background-color: rgb(255, 0, 0);
  border: 1px soild rgba(0, 0, 0, 0.685);
  border-radius: 50%;
}
.colors-right-2 {
  width: 28px;
  height: 28px;
  background-color: rgb(165, 163, 8);
  border: 1px soild rgba(0, 0, 0, 0.685);
  border-radius: 50%;
}
.colors-right-3 {
  width: 28px;
  height: 28px;
  background-color: rgba(53, 184, 58, 0.866);
  border: 1px soild rgba(0, 0, 0, 0.685);
  border-radius: 50%;
}
.colors-right-4 {
  width: 28px;
  height: 28px;
  background-color: rgba(150, 30, 152, 0.866);
  border: 1px soild rgba(0, 0, 0, 0.685);
  border-radius: 50%;
}
.colors-right-5 {
  width: 28px;
  height: 28px;
  background-color: rgba(11, 15, 131, 0.866);
  border: 1px soild rgba(0, 0, 0, 0.685);
  border-radius: 50%;
}
.price {
  display: flex;
  align-items: right;
  justify-content: end;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 152.69%;
}
.our-mission-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 150px;
}
.our-mission-title > h1 {
  text-align: center;
  margin-bottom: 25px;
}
.img-text-mission {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
  align-items: center;
}
.img-box-left {
  width: 434px;
  height: 391px;
  left: 0px;
  top: 0px;

  background: url(../images/turtle-mission.png);
  border-radius: 0px 70px 70px 0px;
}
.text-right-mission {
  display: grid;
  grid-column: -1;
  width: 600px;
  margin-right: 100px;
}
.text-right-mission > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.7em;
}
.testimonials-container {
  width: 1300px;
  height: 692px;
  display: flex;
  flex-direction: column;

  margin-bottom: 200px;
}
.testimonials-title > h2 {
  text-align: center;
  margin-bottom: 100px;
}
.reviews {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.review-container-1,
.review-container-3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
}
.face-1 {
  position: absolute;
  background: url(/images/face-1.png);
  width: 51.39px;
  height: 50px;
  top: 100px;
  left: 52px;
  border-radius: 50%;
}
.face-2 {
  position: absolute;
  background: url(../images/face-2.png);
  background-repeat: no-repeat;
  width: 51.39px;
  height: 50px;
  top: 400px;
  left: 102px;
  border-radius: 50%;
}
.face-3 {
  position: absolute;
  background: url(../images/face-3.png);
  background-repeat: no-repeat;
  width: 51.39px;
  height: 50px;
  top: 5px;
  left: 302px;
  border-radius: 50%;
}
.face-4 {
  position: absolute;
  background: url(/images/face-4.png);
  background-repeat: no-repeat;
  width: 56.39px;
  height: 50px;
  top: 500px;
  left: 302px;
  border-radius: 50%;
}
.face-5 {
  position: absolute;
  background: url(../images/face-5.png);
  width: 51.39px;
  height: 50px;
  top: 100px;
  right: 52px;
  border-radius: 50%;
}
.face-6 {
  position: absolute;
  background: url(../images/face-6.png);
  background-repeat: no-repeat;
  width: 51.39px;
  height: 50px;
  top: 400px;
  right: 102px;
  border-radius: 50%;
}
.face-7 {
  position: absolute;
  background: url(../images/face-7.png);
  background-repeat: no-repeat;
  width: 51.39px;
  height: 50px;
  top: 5px;
  right: 302px;
  border-radius: 50%;
}
.face-8 {
  position: absolute;
  background: url(../images/face-8.png);
  background-repeat: no-repeat;
  width: 56.39px;
  height: 50px;
  top: 500px;
  right: 302px;
  border-radius: 50%;
}
.review-container-2 {
  position: relative;
  padding: 30px;

  height: 692px;
  display: flex;
  flex-direction: column;
}
.sarah-img {
  position: absolute;
  left: 250px;
  top: 117px;
  width: 120px;
  height: 120px;
  background: url(../images/sarah-img.png);
  background-repeat: no-repeat;
}
.review-srah-title {
  position: absolute;
  left: 210px;
  top: 250px;
}
.review-sarah-text {
  position: absolute;
  left: 70px;
  top: 290px;
  width: 479px;
}
.sarah-name {
  position: absolute;
  left: 210px;
  top: 417px;
}
.sarah-status {
  position: absolute;
  left: 270px;
  top: 460px;
}
.subscribe-background {
  width: 1400px;
  height: 292px;
  background: rgba(234, 208, 202, 0.4);
  border-radius: 300px 0 300px 0;
  margin-bottom: 100px;
}
.subscribe-container {
  position: relative;
  width: 595px;
  height: 196px;
}
.subscribe-container > h2 {
  position: absolute;
  left: 200px;
  top: 65px;
}

.submit-conatiner {
  position: absolute;
  width: 852px;
  height: 69px;
  left: 200px;
  top: 150px;
  background: rgba(217, 217, 217, 0.1);
  border: 1px solid #000000;
  border-radius: 50px;
}
.img-box-subscribe {
  position: absolute;
  left: 1300px;
  width: 130px;
  height: 101.13px;
  background: url(../images/turle-victor.png);
  background-repeat: no-repeat;
}
.submit-conatiner > p {
  position: absolute;
  width: 200px;
  height: 46px;
  left: 57px;
  top: 12px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 152.69%;
  /* identical to box height, or 46px */

  display: flex;
  align-items: center;
  letter-spacing: -0.05em;

  color: rgba(0, 0, 0, 0.5);
}
.submit-btn {
  position: relative;
  width: 250px;
  height: 69px;
  left: 801px;
  top: 150px;

  background: #0b25b7;

  border-radius: 50px;
  color: white;
}
.submit-btn-text {
  position: absolute;
  width: 95px;
  height: 38px;
  left: 80px;
  top: 16px;
  text-decoration: none;
  /* 32pt-H2-satoshi-bold */

  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height, or 117% */

  display: flex;
  align-items: center;
  letter-spacing: -0.05em;

  color: #ffffff;
}
footer {
  text-align: center;
  background-color: darkred;
  width: 1400px;
  height: 500px;
}

@media screen and (min-width: 700px) {
  .third-container-trending {
    grid-template-columns: repeat(4, 1fr);
  }
}
