* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  background-color: aqua;
  margin-bottom: 90px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: bold;
}
body {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
main {
  display: flex;
  margin-bottom: 300px;
}
.single-bikini-main-container {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: 600px;
}
.left-single-img-container {
  display: flex;
  flex-direction: column;
}
.img-left-box-one {
  width: 210px;
  height: 194px;
  background: url(/images/img-1-left.png);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.img-left-box-two {
  width: 210px;
  height: 194px;
  background: url(/images/left-img-2.png);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.img-left-box-three {
  width: 210px;
  height: 194px;
  background: url(/images/left-img-3.png);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.img-left-box-four {
  width: 210px;
  height: 194px;
  background: url(/images/left-img-4.png);
}

.mid-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/images/mid-midll-img.png);
  background-repeat: no-repeat;
}
.right-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  line-height: 1.5em;
}
.right-title-single > h1 {
  letter-spacing: 0.09em;
  line-height: 1.7em;
}
.size-box {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  margin-bottom: 20px;
}
.xs-box > a {
  background: rgba(234, 208, 202, 0.8);
  color: black;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 5px;
}
.color-box {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}
.colors-right-1 {
  width: 28px;
  height: 28px;
  background-color: rgb(255, 0, 0);
  border: 1px soild rgba(0, 0, 0, 0.685);
  border-radius: 50%;
}
.colors-right-2 {
  width: 28px;
  height: 28px;
  background-color: rgb(165, 163, 8);
  border: 1px soild rgba(0, 0, 0, 0.685);
  border-radius: 50%;
}
.colors-right-3 {
  width: 28px;
  height: 28px;
  background-color: rgba(53, 184, 58, 0.866);
  border: 1px soild rgba(0, 0, 0, 0.685);
  border-radius: 50%;
}
.colors-right-4 {
  width: 28px;
  height: 28px;
  background-color: rgba(150, 30, 152, 0.866);
  border: 1px soild rgba(0, 0, 0, 0.685);
  border-radius: 50%;
}
.colors-right-5 {
  width: 28px;
  height: 28px;
  background-color: rgba(11, 15, 131, 0.866);
  border: 1px soild rgba(0, 0, 0, 0.685);
  border-radius: 50%;
}
.price-right-box {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: flex-end;
  margin-bottom: 20px;
}
.price-tag {
  width: 127px;
  height: 53px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 35px;
  line-height: 152.69%;
  /* or 53px */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: #000000;
}
.checkout-btn {
}
.checkout-btn > a {
  padding: 5px 25px 5px 25px;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 152.69%;
  /* or 53px */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  background: #1cb864;
  border-radius: 30px;
  color: #ffffff;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.description-right-text {
  line-height: 1.9em;
}

.icon-location {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
}

footer {
  height: 200px;
  width: 1500px;
  background-color: #1cb864;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: bold;
}
